<div class="max-w-md mx-auto mt-8 p-6 bg-white rounded-md shadow-md">
    <h1 class="text-3xl font-semibold mb-6">Bienvenue sur le site!</h1>

    <p class="text-lg">
        Super ! Vous êtes maintenant inscrit. Préparez-vous pour un voyage passionnant !<br><br>
    </p>

    <p class="text-lg">
        Cheers !
    </p>
</div>
